@font-face {
    font-family: techFont;
    src: url(techFont.ttf)
}

body {
    background-color: teal;
}

#canvasRow {
    margin-top: 20px;
}

.text {
    color: white !important;
    text-align: center;
    size: 22px;
    text-shadow: 2px 2px #000000;
    
}