@font-face {
    font-family: techFont;
    src: url(techFont.ttf)
}

body {
    background-color: teal;
}

#footer {
    text-align: center;
    color: white;
    size: 22px;
    text-shadow: 2px 2px #000000;

}